{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site_title }}Agenda</title>
    <link rel="stylesheet" href="{% static 'global\css\style.css' %}" />
  </head>

  <body>
    <header class="header">
      <h1 class="header-heading"><a href="{% url 'contact:index' %}" class="header-link">Agenda</a></h1>
    </div>
    {% if user.is_authenticated  %}
      <div class="usuario">
        <p  onclick="toggleDropdown()"><strong><a href="{% url "contact:user_update" %}" class="user_name">Olá, {{ user.username }}</a></strong></p>
      </div>
    {% endif %}
        <nav class="menu">
        <ul class="menu-list">
          <li class="menu-item">
            {% if not user.is_authenticated  %}
            <a href="{% url 'contact:login' %}" class="menu-link">Entrar</a>
          </li>
          <li class="menu-item">
            <a href="{% url 'contact:register' %}" class="menu-link">Registrar</a>
          </li>
          {% endif %}

          {% if user.is_authenticated %}
          <li class="menu-item">
            <a href="{% url 'contact:create' %}" class="menu-link">Criar</a>
          </li>
          <li class="menu-item">
            <a href="{% url 'contact:user_update' %}" class="menu-link">Perfil</a>
          </li>
          <li class="menu-item">
            <a href="{% url 'contact:logout' %}" class="menu-link">Sair</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <div class="search">
        <form action="{% url 'contact:search' %}" method="GET">
          <input type="text" class="search-input" placeholder="Pesquisar" id="search" name="q" value="{{ request.GET.q.strip }}" />
        </form>
      </div>
    </header>
    
    <header>
    </header>
    {% include 'global/partials/messages.html' %}
    <main>
      {% block content %}

      {% endblock %}
      {% include 'global/partials/pagination.html' %}
    </main>
  </body>
</html>
