{% extends 'global/base.html' %}

{% block content %}
  {% if page_obj  %}
    <div class="responsive-table">
      <table class="contacts-table">
        <caption class="table-caption">Contatos</caption>

        <thead>
          <tr class="table-row_table-row-header">
            <th class="table-header">ID</th>
            <th class="table-header">Nome</th>
            <th class="table-header">Sobrenome</th>
            <th class="table-header">Telefone</th>
            <th class="table-header">E-mail</th>
          </tr>
        </thead>

        <tbody>
          {% for contact in page_obj %}
            <tr class="table-row">
              <td class="table-info">
                <a class="table-link" href="{% url 'contact:contact' contact.id %}">{{ contact.id }}</a>
              </td>
              <td class="table-info">{{ contact.firt_name }}</td>
              <td class="table-info">{{ contact.last_name }}</td>
              <td class="table-info">{{ contact.phone }}</td>
              <td class="table-info">{{ contact.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% else %}
    <div class="single-contact">
      <h1 class="single-contacth1">
        Nenhum contato encontrado.
      </h1>
  {% endif %}
{% endblock %}
